{% extends 'base.html' %}

{% block content %}

{% include "_header.html" %}

<div class="container" ng-app="TimeReg" ng-controller="RegistrationCtrl">
    <toaster-container toaster-options="{'time-out': 3000, 'close-button':true, 'animation-class': 'toast-top-right'}"></toaster-container>
      <div class="header-stats vdivide" ng-cloak>
        <div class="col-sm-2"><small>Hours this month: [[statistics.workingHoursThisMonth]]</small></div>
        <div class="col-sm-3"><small>Burned hours this month: [[statistics.workedHoursThisMonth]]</small></div>
        <div class="col-sm-2"><small ng-class="getHoursOffsetClass()">Hours offset: [[statistics.hoursOffset]]</small></div>
        <div class="col-sm-3"><small>Reamining hours this month: [[statistics.remainingHours]]</small></div>
        <div class="col-sm-2"><small>Imported from Jira: [[statistics.importedFromJira]]</small></div>
      </div>

      <hr/>
    <div class="row">
        <form class="form-inline">
          <div class="form-group" ng-class="errors.task_code ? 'has-error' : ''">
            <label for="task_code">Task Code</label>
            <input type="text" ng-model="taskCode" class="form-control" 
                   id="task_code" placeholder="task"
                   ng-required="true">
          </div>

          <div class="form-group" ng-class="errors.project ? 'has-error' : ''">
            <label for="project">Project</label>
            <input type="text" ng-model="project" class="form-control" 
                   id="project" placeholder="awesomeness"
                   ng-required="true">
          </div>

          <div class="form-group">
            <label for="time_spent">Time Spent</label>
            <div class="input-group" ng-class="errors.time_str ? 'has-error' : ''">
              <input type="text" ng-model="timeSpent" class="form-control" 
                     id="time_spent" placeholder="e.g 2,5" 
                     aria-describedby="sizing-addon3"
                     ng-required="true">
              <span class="input-group-addon" id="sizing-addon3">hours</span>
            </div>
          </div>

          <div class="form-group" >
            <label for="date">Date</label>
            <div class="input-group" ng-class="errors.registration_day ? 'has-error' : ''">
              <input type="text" class="form-control" datepicker-popup="[[datePicker.format]]" 
                     ng-model="datePicker.dt" is-open="datePicker.opened"
                     ng-required="true"
                     ng-click="datePicker.open($event)"
                     show-button-bar="false" />
            </div>
          </div>
          <button type="submit" ng-click="register()" 
                  class="btn btn-primary">OK</button>
        </form> 
    </div>

    <br><br><br><br>
    <div class="row">
        <table class="table table-striped table-hover table-condensed" id="editable_table">
          <thead>
            <tr>
                <th>Task</th><th>Project</th><th>Time Spent</th><th>Date</th>
                <th>Actions</th>
            </tr>
          </thead>

            <tbody ng-cloak>
              <tr ng-repeat="reg in registrations">
                <td>
                  <span editable-text="reg.task_code" e-name="task_code"
                        e-form="rowform" onbeforesave="checkEmptyText($data)"
                        e-required />
                    <span ng-show="!rowform.$visible">
                      [[ reg.task_code ]]

                    </span>
                </td>

                <td>
                   <span editable-text="reg.project" e-name="project"
                        e-form="rowform" onbeforesave="checkEmptyText($data)"
                        e-required />
                    <span ng-show="!rowform.$visible">
                      [[ reg.project ]]
                    </span>
                </td>

                <td>
                   <span id="time" editable-text="reg.time_str" e-name="time_str"
                        e-form="rowform"  e-required
                        onbeforesave="validateTime($data)" />
                  <span ng-show="!rowform.$visible">
                    [[ reg.time_str ]]h
                  </span>
                </td>

                <td>
                   <span
                        editable-bsdate="reg.registration_day"
                        e-form="rowform"
                        e-name="registration_day"
                        e-datepicker-popup-x-editable="[[datePicker.format]]"
                        e-is-open="reg.datepicker_open"
                        e-ng-click="openDatepickerForRecord(reg.id)"
                        e-show-button-bar="false" />
                    <span ng-show="!rowform.$visible">
                      [[ reg.registration_day ]]
                    </span>
                </td>

                <td style="white-space: nowrap">
                  <form editable-form name="rowform" onbeforesave="updateRegistration($data, reg.id)" 
                        ng-show="rowform.$visible" 
                        class="form-buttons form-inline" 
                        shown="inserted == reg">
                    <button type="submit" ng-disabled="rowform.$waiting" 
                            class="btn btn-primary">
                      save
                    </button>
                    <button type="button" ng-disabled="rowform.$waiting" 
                            ng-click="rowform.$cancel()" 
                            class="btn btn-default">
                      cancel
                    </button>
                  </form>

                  <div class="buttons" ng-show="!rowform.$visible">
                    <button class="btn btn-primary" ng-click="rowform.$show()">edit</button>
                    <button class="btn btn-danger" ng-click="delete($index)">del</button>
                  </div>  
                </td>
              </tr>
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
